/* reset */
/* main variables */
* {
  margin: 0;
  padding: 0; }

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #FFF;
  line-height: 1;
  position: relative;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  color: #333;
  font-family: "Roboto", Arial, sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #100da9;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a,
span,
div,
button {
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v18-latin_cyrillic-300.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto-v18-latin_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v18-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/roboto-v18-latin_cyrillic-300.woff") format("woff"), url("../fonts/roboto-v18-latin_cyrillic-300.ttf") format("truetype"), url("../fonts/roboto-v18-latin_cyrillic-300.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v18-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v18-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v18-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v18-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v18-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v18-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v18-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v18-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v18-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v18-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* ----- global ----- */
body {
  margin: auto; }

.home-page {
  background-color: #f2f2f2; }

/* ----- sprite ----- */
/* Generated by http://css.spritegen.com CSS Sprite Generator */
.sprite-icon, .content .site-content__arrow, .content .carousel-block .owl-nav button span {
  display: inline-block;
  background: url("../img/sprite.png") no-repeat;
  text-align: left; }

.flags {
  background-position: -2px -0px;
  width: 61px;
  height: 57px; }

.hat-mobile {
  background-position: -2px -59px;
  width: 41px;
  height: 28px; }

.checkbox {
  background-position: -5px -93px;
  width: 25px;
  height: 25px; }

.hat {
  background-position: -2px -123px;
  width: 32px;
  height: 33px; }

.leaf {
  background-position: -2px -158px;
  width: 32px;
  height: 32px; }

.arrow, .content .site-content__arrow {
  background-position: -2px -192px;
  width: 28px;
  height: 28px; }

.arrow-slider, .content .carousel-block .owl-nav button span {
  background-position: -32px -192px;
  width: 28px;
  height: 35px; }

.content-map {
  background-position: -2px -222px;
  width: 28px;
  height: 28px; }

.bell {
  background-position: -36px -89px;
  width: 24px;
  height: 26px; }

.star {
  background-position: -36px -117px;
  width: 24px;
  height: 24px; }

.search {
  background-position: -36px -143px;
  width: 22px;
  height: 20px; }

.bell-mobile {
  background-position: -36px -165px;
  width: 18px;
  height: 18px; }

.header-map {
  background-position: -45px -59px;
  width: 15px;
  height: 20px; }

.search-mobile {
  background-position: -32px -229px;
  width: 14px;
  height: 13px; }

/* ----- header ----- */
.site-header {
  background-color: #1a5f75;
  width: 100%;
  min-width: 320px;
  text-align: left;
  border-bottom: 1px solid #a0a0a0;
  position: relative;
  z-index: 100; }
  .site-header .logo-mobile {
    display: none; }
  .site-header .header-container {
    max-width: 1920px;
    margin: auto;
    padding: 5px 35px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .site-header .header-left {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 170px; }
  .site-header .head-search {
    background: #fff;
    border: 1px solid #004358;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 100%;
    max-width: 845px;
    margin: 0 0 0 110px; }
    .site-header .head-search__loc {
      padding: 0 12px;
      height: 35px; }
      .site-header .head-search__loc:hover {
        cursor: pointer; }
    .site-header .head-search__arrow {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #43494b transparent transparent transparent;
      margin: 0 0 0 12px; }
    .site-header .head-search input {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      line-height: 35px;
      height: 35px;
      border: 0;
      width: 100%; }
    .site-header .head-search button {
      height: 35px;
      width: 35px;
      line-height: 35px;
      text-align: center;
      background-color: #fff;
      border: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .site-header .bell {
    position: relative;
    margin-right: 40px; }
    .site-header .bell span {
      background: #ff0000;
      color: #fff;
      font-size: 12px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      display: inline-block;
      padding: 3px 4px;
      position: absolute;
      top: -3px;
      right: -10px; }

@media screen and (max-width: 1640px) {
  .site-header .header-left {
    padding-left: 0; } }

@media screen and (max-width: 1380px) {
  .site-header .head-search {
    margin: 0 25px; } }

@media screen and (max-width: 720px) {
  .site-header .header-container {
    padding: 5px 10px 5px 5px; }
  .site-header .logo {
    display: none; }
  .site-header .logo-mobile {
    display: block; } }

@media screen and (max-width: 576px) {
  .site-header .head-search {
    margin: 0 8px; }
    .site-header .head-search button {
      min-width: 40px; }
  .head-user {
    width: 30px; }
    .head-user img {
      max-width: 100%;
      height: auto; } }

/* ----- footer ----- */
.content .content-bg {
  background: url("../img/bg.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  height: 497px; }

.content .container {
  margin-top: -225px;
  position: relative;
  left: 30px; }

.content .site-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px; }
  .content .site-title span {
    color: #fff;
    font-size: 14px; }
  .content .site-title .leaf {
    margin: 3px 20px 0 0; }
  .content .site-title h1, .content .site-title h2 {
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 12px;
    font-weight: 400; }

.content .col-left {
  padding-right: 0; }
  .content .col-left .site-title {
    padding-left: 55px; }

.content .site-content {
  background: #fff;
  padding: 35px 35px 35px 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 1px 4px 0 #a3a3a3;
  box-shadow: 0 1px 4px 0 #a3a3a3;
  margin: 0 0 20px 0;
  position: relative; }
  .content .site-content > span {
    min-width: 32px; }
  .content .site-content h3 {
    font-size: 24px;
    font-weight: 500;
    padding-right: 30px; }
  .content .site-content__wrap {
    padding: 0 0 0 17px; }
  .content .site-content__text {
    margin-top: 35px;
    font-size: 14px;
    line-height: 2.2em;
    font-weight: 500;
    display: none; }
  .content .site-content__arrow {
    position: absolute;
    right: 42px;
    top: 37px; }
    .content .site-content__arrow:hover {
      cursor: pointer; }
  .content .site-content--active {
    padding-top: 60px;
    padding-bottom: 90px; }
  .content .site-content--active .site-content__text {
    display: block; }
  .content .site-content--active .site-content__arrow {
    top: 58px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.content .site-block {
  background: #fff;
  padding: 12px;
  -webkit-box-shadow: 0 1px 4px 0 #a3a3a3;
  box-shadow: 0 1px 4px 0 #a3a3a3;
  display: inline-block;
  position: relative;
  max-width: 240px; }
  .content .site-block img {
    max-width: 100%; }
  .content .site-block__star {
    text-align: right;
    margin-bottom: 15px; }
  .content .site-block__icon {
    position: absolute;
    background-color: #fff;
    padding: 10px;
    top: -15px;
    left: 20px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3); }
  .content .site-block__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0 0 10px; }
  .content .site-block__title h3 {
    margin-left: 10px; }
  .content .site-block__descr {
    color: #585858;
    font-size: 14px;
    padding: 20px 10px;
    line-height: 1.5em;
    border-bottom: 1px solid #d1d1d1; }
  .content .site-block__address {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 12px 0 0 8px;
    color: #585858; }
    .content .site-block__address span {
      opacity: 0.5;
      margin-right: 7px; }
    .content .site-block__address div {
      line-height: 1.5em; }

.content .carousel-block {
  max-width: 1035px;
  overflow: hidden;
  margin: 10px 0 40px -2px;
  position: relative;
  overflow: visible; }
  .content .carousel-block h2 {
    font-size: 28px;
    margin-left: 25px;
    margin-bottom: 10px; }
  .content .carousel-block .owl-carousel {
    position: relative; }
  .content .carousel-block .owl-stage {
    padding-top: 25px;
    padding-bottom: 8px; }
  .content .carousel-block .site-block {
    margin-left: 2px; }
    .content .carousel-block .site-block__cname {
      display: none;
      font-size: 12px;
      padding: 10px 10px 0 10px; }
  .content .carousel-block .owl-nav button {
    width: 62px;
    height: 62px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px 0 #a3a3a3;
    box-shadow: 0 1px 4px 0 #a3a3a3;
    position: absolute;
    top: 50%;
    margin: -31px 0 0 -62px; }
    .content .carousel-block .owl-nav button.owl-prev {
      left: 0;
      background-color: #fff;
      margin-left: -80px; }
    .content .carousel-block .owl-nav button.owl-next {
      right: 0;
      background-color: #fff;
      margin-right: -80px; }
    .content .carousel-block .owl-nav button span {
      text-indent: -999px;
      overflow: hidden; }
    .content .carousel-block .owl-nav button.owl-next span {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }

@media screen and (max-width: 1480px) {
  .content .container {
    position: static; } }

@media screen and (max-width: 1300px) {
  .content .container {
    max-width: 100%; }
  .content .carousel-block {
    padding: 0 100px;
    max-width: 100%; }
  .content .owl-item {
    padding-right: 3px; }
  .content .site-block {
    max-width: 100%;
    width: 100%; } }

@media screen and (max-width: 991px) {
  .content .site-content {
    padding: 30px; }
    .content .site-content--active {
      padding-top: 30px;
      padding-bottom: 30px; }
    .content .site-content--active .site-content__arrow {
      top: 33px; }
  .content .carousel-block {
    padding: 0 15px; } }

@media screen and (max-width: 767px) {
  .home-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .content .container {
    margin-top: 50px; }
  .content .col-left {
    padding-right: 15px; }
  .content .site-title {
    display: none; }
    .content .site-title div span {
      display: none; }
    .content .site-title h1 {
      font-size: 26px; }
    .content .site-title .leaf {
      margin: 0 0 20px 0; }
  .content .col-left .site-title {
    display: block;
    text-align: center;
    padding: 75px 0 45px 0;
    margin: 0; }
  .content .content-bg {
    height: 840px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; } }

@media screen and (max-width: 720px) {
  .container {
    padding-right: 10px;
    padding-left: 10px; }
  .site-header .head-search {
    margin: 0 15px; }
  .site-header .bell {
    background-position: -33px -163px;
    height: 23px;
    margin-right: 10px; }
    .site-header .bell span {
      display: none; }
  .content .site-content--active {
    padding: 35px; }
  .content .site-content__arrow {
    display: none; }
  .content .site-block__title h3 br {
    display: none; }
  .search {
    background-position: -28px -226px; } }

@media screen and (max-width: 576px) {
  .row {
    margin-right: -10px;
    margin-left: -10px; }
  .hat {
    background-position: -2px -57px;
    width: 43px;
    height: 32px;
    display: block;
    margin: auto; }
  .content .col-left {
    padding-left: 10px;
    padding-right: 10px; }
  .content .site-content {
    display: block;
    padding: 52px 10px; }
    .content .site-content h3 {
      padding: 0;
      text-align: center;
      margin-top: 20px; }
    .content .site-content__wrap {
      padding: 0; }
    .content .site-content__text {
      margin-top: 30px;
      font-size: 16px;
      line-height: 1.5em; }
  .content .carousel-block {
    padding: 0 10px; }
    .content .carousel-block .flags {
      width: 36px;
      height: 36px;
      background-position: 2px -247px; }
    .content .carousel-block .content-map {
      background-position: -37px -253px;
      width: 18px;
      height: 18px;
      margin-right: 0; }
    .content .carousel-block .owl-stage {
      padding-top: 15px; }
    .content .carousel-block .site-block {
      padding: 0; }
      .content .carousel-block .site-block__cname {
        display: block; }
      .content .carousel-block .site-block__star {
        display: none; }
      .content .carousel-block .site-block__icon {
        padding: 0;
        top: 6px;
        left: 6px;
        -webkit-border-radius: 0;
        border-radius: 0; }
      .content .carousel-block .site-block__title, .content .carousel-block .site-block__descr {
        display: none; }
      .content .carousel-block .site-block__address {
        font-size: 12px;
        padding-bottom: 5px; }
        .content .carousel-block .site-block__address div {
          line-height: normal;
          font-size: 11px; }
          .content .carousel-block .site-block__address div br {
            display: none; }
    .content .carousel-block h2 {
      font-size: 16px;
      margin-left: 10px; }
  .content .site-block img {
    display: block;
    margin: auto;
    width: 100%; } }

/* reset */
/* main variables */
* {
  margin: 0;
  padding: 0; }

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #FFF;
  line-height: 1;
  position: relative;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  color: #333;
  font-family: "Roboto", Arial, sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #100da9;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a,
span,
div,
button {
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v18-latin_cyrillic-300.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto-v18-latin_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v18-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/roboto-v18-latin_cyrillic-300.woff") format("woff"), url("../fonts/roboto-v18-latin_cyrillic-300.ttf") format("truetype"), url("../fonts/roboto-v18-latin_cyrillic-300.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v18-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v18-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v18-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v18-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v18-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v18-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v18-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v18-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v18-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v18-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* example mixins */
.font {
  font-size: 14px;
  line-height: 18px;
  color: #000; }

.gradient {
  background: -webkit-linear-gradient(left, black 0%, white 100%);
  background: -o-linear-gradient(left, black 0%, white 100%);
  background: -webkit-gradient(linear, left top, right top, from(black), to(white));
  background: linear-gradient(to right, black 0%, white 100%); }

.flex, .site-header .header-container, .site-header .header-left, .site-header .head-search, .site-header .head-search__loc, .site-header .head-search button, .site-header .header-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

/* example mixins */
